<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>SEProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ManagerTimesheetsServlet</display-name>
    <servlet-name>ManagerTimesheetsServlet</servlet-name>
    <servlet-class>timesheet.ManagerTimesheetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTimesheetsServlet</servlet-name>
    <url-pattern>/ManagerTimesheetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentTimesheetServlet</display-name>
    <servlet-name>StudentTimesheetServlet</servlet-name>
    <servlet-class>timesheet.StudentTimesheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTimesheetServlet</servlet-name>
    <url-pattern>/StudentTimesheetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>timesheet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTimesheetServlet</display-name>
    <servlet-name>CreateTimesheetServlet</servlet-name>
    <servlet-class>timesheet.CreateTimesheetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTimesheetServlet</servlet-name>
    <url-pattern>/CreateTimesheetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ApplyLeaveHandler</display-name>
    <servlet-name>ApplyLeaveHandler</servlet-name>
    <servlet-class>timesheet.ApplyLeaveHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeaveHandler</servlet-name>
    <url-pattern>/ApplyLeaveHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EditLeaveHandler</display-name>
    <servlet-name>EditLeaveHandler</servlet-name>
    <servlet-class>timesheet.EditLeaveHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLeaveHandler</servlet-name>
    <url-pattern>/EditLeaveHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SubmitUpdatedLeaveHandler</display-name>
    <servlet-name>SubmitUpdatedLeaveHandler</servlet-name>
    <servlet-class>timesheet.SubmitUpdatedLeaveHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitUpdatedLeaveHandler</servlet-name>
    <url-pattern>/SubmitUpdatedLeaveHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateLeaveHandler</display-name>
    <servlet-name>UpdateLeaveHandler</servlet-name>
    <servlet-class>timesheet.UpdateLeaveHandler</servlet-class>
  </servlet>
  <servlet>
    <display-name>ViewLeaveHandler</display-name>
    <servlet-name>ViewLeaveHandler</servlet-name>
    <servlet-class>timesheet.ViewLeaveHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLeaveHandler</servlet-name>
    <url-pattern>/UpdateLeaveHandler</url-pattern>
  </servlet-mapping>
</web-app>